.border-r-30 {
  border-radius: 30px !important;
}

p {
  margin-bottom: 0px !important;
}

a {
  text-decoration: none;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.bg-primary {
  background-color: rgb(var(--primary_rgb));
}

.bg-secondary {
  background-color: #fff200;
}

.bg-transparent {
  background-color: transparent !important;
}

.custom-card-header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.small-screen {
  display: none !important;
}

@media screen and (max-width: 1260px) {
  .small-screen {
    display: block !important;
  }

  .small-screen-flex {
    display: inline-flex !important;
  }

  .large-screen {
    display: none !important;
  }
}

.v-align-top {
  vertical-align: top;
}

.v-align-middle {
  vertical-align: middle;
}

.scheduled {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #dc63d0;
  background: #f9d2f4;
  border-radius: 20px;
  padding: 4px 15px;
}

.online,
.interview,
.emi-due,
.pay-upcoming,
.open_lead {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #5a44c4;
  background: #2f20dd3d;
  border-radius: 20px;
  padding: 5px;
  text-align: center;
}
.selected,
.open_lead {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #79ce37;
  background: #eff9e7;
  border-radius: 20px;
  padding: 5px;
}

.status-completed,
.offline,
.withdrawn {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #5c6ac4;
  background: #ebedf8;
  border-radius: 20px;
  padding: 4px 15px;
  text-align: center;
}
.could_lead {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #2d9cdb;
  background: #2d9cdb47;
  border-radius: 20px;
  padding: 5px;
}
.status-approved,
.status-selected,
.status-active,
.emi-paid,
.active,
.completed,
.payout-approved,
.pay-success,
.ticket_close,
.converted_lead {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #27ae60;
  background: #27ae603d;
  border-radius: 20px;
  padding: 4px 10px;
}

.addon_plan {
  font-family: Nunito Sans;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.015em;
  color: #27ae60;
  background: #27ae603d;
  border-radius: 10px;
  padding: 2px 5px;
  margin-top: 2px;
  vertical-align: middle;
}
.status-rejected,
.pay-failed,
.status-incomplete,
.expired,
.not-completed,
.emi-overdue,
.payment-overdue,
.ticket_open,
.pay-overdue,
.dead_lead {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #eb5757;
  background: #fdebeb;
  border-radius: 20px;
  padding: 4px 15px;
}
.payout-pending,
.status-on-hold,
.confirmation-pending {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #4f4f4f;
  background: #eaeaea;
  border-radius: 20px;
  padding: 4px 15px;
}
.rescheduled,
.status-pending,
.on-hold,
.pending {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #f2994a;
  background: #f2994a2b;
  border-radius: 20px;
  padding: 4px 15px;
}

 /*.rejected {
   font-style: normal;
   font-weight: bold;
   font-size: 13px;
   line-height: 18px;
   letter-spacing: 0.015em;
   color: #e9be00;
   background: #fcf7e0;
   border-radius: 20px;
   padding: 4px 15px;
 }*/


.rejected,
.payout-rejected,
.hot_lead {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.015em;
  color: #bf1d08;
  background: #f7e4e1;
  border-radius: 20px;
  padding: 5px;
}

.im-bg {
  background: rgba(var( --primary_rgb),1)!important;
}
.tf-bg {
  background: #32345f !important;
}
.bg-white {
  background: #fff;
}

.align-items-center {
  align-items: center !important;
}


@media screen and (max-width: 1260px) {
    .label-text-1 {
      display: inline-block;
      width: 40%;
      vertical-align: top;
    }

    .text-1 {
      display: inline-block;
      width: 60%;
      vertical-align: top;
      margin-bottom: 0px;
    }
}